@import "node_modules/foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-grid;

$cell-height: 100px;
body{
@include grid-row();
background-color: darkslategray;

 #messageBoard {
     @include grid-row();
    text-align: center;
    min-height: $cell-height;
    max-height: 300px;
    border: 2px solid black;
    display: block;
    margin: 5%;
    overflow: scroll;
 }


#buttonArray{
    @include grid-row();
    margin: 5%;

    
   

    #username {
        @include grid-column(2);
    }

    #message {
        @include grid-column(6);
        @include grid-column-offset(1);
    }
   
   input {
    border: 1px solid white;
    padding: 5px 8px;
    color: black;
    font-size: 1em;
    border-radius: 5px;

   }
   button {
    @include grid-column(2);
    border: 1px solid white;
    padding: 5px 8px;
    text-align: center;
    background-color: lightblue;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 1%;


   }

    }

}